<!DOCTYPE html>
<html lang="en">

<body>
  <!--  <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>    -->
    
    <form>
        <h3>DigiBatiment</h3>
        <p *ngIf="wrong" align="center">matricule ou mot de passe incorrect</p>
        <label for="username" >Matricule</label>
        <input type="text" placeholder="Matricule" id="username"  name="matricule" [(ngModel)]="matricule" >
        <div *ngIf="empty1" class="alert ">Ce champ est obligatoire</div>
        <label for="password">Mot de passe</label>
        <input type="password" placeholder="mot de passe" id="password" name="mdp" [(ngModel)]="mdp" (keyup.enter)="OnClick()">
        <div *ngIf="empty2" class="alert ">Ce champ est obligatoire</div>
        <button (click)="OnClick()">Se connecter</button>
        <!--<div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>-->
        
    </form>
</body>








</html>
