 p {
    font-size: 16px;
}
.cancel{
    width:100px;
    height:45px;
    margin-left: 10px;
    float: right;
}
.separationB{
    width: 30px;
}
.confirm{
    width:100px;
    height:45px;
    margin-left: 25px;
    float: right;
}