.all {
  background: linear-gradient(-45deg, 	#293030, #6d7f7f, #d5dbdb);
  overflow: auto;
  width: 100%;
  height: 100vh;
  margin: 0;
  
}

/**
:host { 
  display: contents; 
  background-color: white;
}
*/


.home-containers {
  width: 100%;
  display:flex;
  align-self: center;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(-45deg, 	#293030, #6d7f7f, #d5dbdb);
  
}
.return-div {
  background-image: url(src/assets/Images/1x1-00000000.png);
  top: 60px;
  width: 100%;
  height: 100px;
  flex: 0 0 auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10%;
  padding-top: 3%;
}

.home-containers5 {
  /*border-radius: 25px;
  /*background: linear-gradient(-45deg, 	#293030, #6d7f7f, #d5dbdb);*/
  background-image: url(src/assets/Images/1x1-00000000.png);
    top: 180px;
    width: 80%;
    height: 500px;
    flex: 0 0 auto;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  .home-containers6 { /*filter*/
    
    flex:auto;
    width: 100%;
    
    height: 15%;
    display: flex;
    
    padding-left: 0%;
    padding-right: 0%;
    /*align-items: stretch;*/
  }
  .home-containers7 {
    /*border-radius: 25px;
    /*background: linear-gradient(-45deg, 	#293030, #6d7f7f, #d5dbdb);*/
    /*flex: auto;*/
    width: 100%;
    /*border: 2px solid rgba(120, 120, 120, 0.4);*/
    height: 85%;
    /*display: flex;*/
    align-items: center;
    background-image: url(src/assets/Images/1x1-00000000.png);
    
    top: 260px;
  }  
 
  
.mat-z88{
  border-radius: 25px;
  display: flex;
  width:100%;
  flex-direction: column;
  margin-top: 5;
  position: absolute;
}
  table {
    width:100%;
  }
  .mat-paginator {
    background-color: #ededed;
  }
  .mat-form-field1 {
    /*border-radius: 50px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgba(120, 120, 120, 0.4);*/
    font-size: 14px;
    width: 30%;
    height: 98%;
    align-items:flex-start center;
    vertical-align: middle;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    align-self: center;
    /*background-color: #ededed;*/
    color:#000000
  }
  .seperator1 {
    width: 610px;
  }
  .mat-raised-button {
    align-items:center;
    align-self:center;
    
    background-color: #014e92;
    color: #fff;
  }
  .mat-fab {
    background-color: #014e92;
  }
  .addButton {
    width: 145px;
    height: 45px;
    float: right;
  }
  .return {
    float :top left;
    padding-left: 30px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .table1 td,th{
    width:auto;
    height: 65px;
    background-color: #ededed;
  }
  .table2 td, th {
    width:270px;
    height: 65px;
    background-color: #ededed;
  }
  .seperator {
    width: 20vw;
    color: #fff;
    align-self: center;
  }

  .footer-content a {
    color: #e1b377;
  }

  #footer {
    background-color: #0d1e32;
    text-align: center;
    color: #fff;
    width: 1903px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0 25px 0;
  }  

  .mat-header-cell{
    font-size: medium;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;*/
    
  }
  .mat-cell{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .f{
    background: linear-gradient(-45deg, 	#293030, #6d7f7f, #d5dbdb);
    height: 1px;
    padding-top: 8px;
    padding-left: 5%;
  }
