@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
/* TOGGLE STYLING */
.toggle {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  background-image: linear-gradient(to right bottom, 
  rgba(22, 22, 22, 0.5),
  rgba(0, 0, 0, 0.541)),
  url("src/assets/Images/pexels-burst-374023.jpg");
 background-repeat: no-repeat;
 background-position: center;
}
.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.toggle input + label {
  margin: 0;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
  /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
  flex: 0 0 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
  /* ----- */
}
.toggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.toggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}
.toggle input:hover + label {
  border-color: #0b365f;
}
.toggle input:checked + label {
  background-color: #00317A;
  color: #FFF;
  box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  border-color: #4B9DEA;
  z-index: 1;
}
.toggle input:focus + label {
  outline: dotted 1px #CCC;
  outline-offset: 0.45rem;
}
@media (max-width: 800px) {
  .toggle input + label {
    padding: 0.75rem 0.25rem;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* STYLING FOR THE STATUS HELPER TEXT FOR THE DEMO */
.status {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
.status span {
  font-weight: 600;
  color: #B6985A;
}
.status span:first-of-type {
  display: inline;
}
.status span:last-of-type {
  display: none;
}
@media (max-width: 800px) {
  .status span:first-of-type {
    display: none;
  }
  .status span:last-of-type {
    display: inline;
  }
}

/******newtable********/
body {
  
  font-family: 'lato', sans-serif;
}
.container {
  align-self: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px ;
  padding-left: 0px;
  padding-right: 0px;
  
  
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  
}
h2 small {
  font-size: 0.5em;
  
}

.responsive-table li {
  
    border-radius: 3px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    
}
.responsive-table .table-header {
    background-color: #2d2d31;
    font-size: 14px;
    color:white;
    width: 1200px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table  .table-row {
    background-color: #e6e6e6;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);

  }
  .responsive-table  .table-row:hover {
    background-color: #42819E;
    
    
  }
  .responsive-table  .col-1 {
    flex-basis: 8%;
    padding-right: 25%;
    align-content: space-around;
  }
  .responsive-table .col-2 {
    flex-basis: 30%;
  }
  .responsive-table .col-3 {
    flex-basis: 20%;
  }
  .responsive-table .col-4 {
    flex-basis: 25%;
  }
  
  /**@media all and (max-width: 767px) {*/
    .table-header {
      display: none;
    }
     
     li {
      display: block;
    }
     .col {
      
      flex-basis: 100%;
      
    }
      .col {
      display: flex;
      padding: 10px 0;
      /**&:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }**/
    }

    
  




