<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Mes réclamations">
    <div  class="container" *ngIf="!processing">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Id</div>
          <div class="col col-2">Date</div>
          <div class="col col-3">Categorie</div>
          <div class="col col-4">Etat actuel</div>
        </li>
        <li class="table-row table-hover" *ngFor="let rec of ownRecs" routerLink="/reclamation-details/{{rec._id}}">
          <div class="col col-1" >{{rec._id}}</div>
          <div class="col col-2" >{{rec.date | date: 'dd/MM/yyyy'}}</div>
          <div class="col col-3" >{{rec.categorie}}</div>
          <div class="col col-4" >{{rec.etat}}</div>
        </li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab *ngIf=" role=='assistant' " label="Réclamations en charge">
    <div  class="container" *ngIf="!processing2">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">ID</div>
          <div class="col col-2">Date</div>
          <div class="col col-3">Categorie</div>
          <div class="col col-4">Etat actuel</div>
        </li>
        <li class="table-row table-hover" *ngFor="let rec of affRecs" routerLink="/reclamation-update/{{rec._id}}">
          <div class="col col-1" >{{rec._id}}</div>
          <div class="col col-2" >{{rec.date | date: 'dd/MM/yyyy'}}</div>
          <div class="col col-3" >{{rec.categorie}}</div>
          <div class="col col-4" >{{rec.etat}}</div>
        </li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab *ngIf=" role=='responsable' " label="Réclamations en charge">
    <div  class="container" *ngIf="!processing1">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">ID</div>
        <div class="col col-2">Date</div>
        <div class="col col-3">Categorie</div>
        <div class="col col-4">Etat actuel</div>
      </li>
      <li class="table-row table-hover" *ngFor="let rec of allRecs"routerLink="/reclamation-update/{{rec._id}}">
        <div class="col col-1" >{{rec._id}}</div>
        <div class="col col-2" >{{rec.date | date: 'dd/MM/yyyy'}}}</div>
        <div class="col col-3" >{{rec.categorie}}</div>
        <div class="col col-4" >{{rec.etat}}</div>
      </li>
    </ul>
  </div></mat-tab>
</mat-tab-group>






