  <div class="container">
    <fieldset *ngIf="role=='assistant'">
      <legend>Liste des réclamations:</legend>
      <div class="toggle">
        <input type="radio" name="sizeBy" value="weight" id="sizeWeight" checked="checked" (change)="aSet(1)"  />
        <label for="sizeWeight">Vos réclamations</label>
        <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions" (change)="aSet(2)" />
        <label for="sizeDimensions">Réclamations à traiter</label>
      </div>
    </fieldset>
  
    <fieldset *ngIf="role=='responsable'">
      <legend>Liste des réclamations:</legend>
      <div class="toggle">
        <input type="radio" name="sizeBy" value="weight" id="sizeWeight" checked="checked" (change)="aSet(1)"  />
        <label for="sizeWeight">Vos réclamations</label>
        <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions" (change)="aSet(3)" />
        <label for="sizeDimensions">Réclamations à traiter</label>
      </div>
    </fieldset>

</div>


<div *ngIf="a==1" class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">ID</div>
      <div class="col col-2">Date</div>
      <div class="col col-3">Categorie</div>
      <div class="col col-4">Etat actuel</div>
    </li>
    <li class="table-row table-hover" *ngFor="let rec of ownRecs" routerLink="/reclamation-details/{{rec.id}}">
      <div class="col col-1" >{{rec.id}}</div>
      <div class="col col-2" >{{rec.date}}</div>
      <div class="col col-3" >{{categ(rec.Id_sousCateg)}}</div>
      <div class="col col-4" >{{etatN_Emp(rec.id_etat)}}</div>
    </li>
  </ul>
</div>

<div *ngIf="a==2" class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">ID</div>
      <div class="col col-2">Date</div>
      <div class="col col-3">Categorie</div>
      <div class="col col-4">Etat actuel</div>
    </li>
    <li class="table-row table-hover" *ngFor="let rec of affRecs" routerLink="/reclamation-update/{{rec.id}}">
      <div class="col col-1" >{{rec.id}}</div>
      <div class="col col-2" >{{rec.date}}</div>
      <div class="col col-3" >{{categ(rec.Id_sousCateg)}}</div>
      <div class="col col-4" >{{etatN(rec.id_etat)}}</div>
    </li>
  </ul>
</div>

<div *ngIf="a==3" class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">ID</div>
      <div class="col col-2">Date</div>
      <div class="col col-3">Categorie</div>
      <div class="col col-4">Etat actuel</div>
    </li>
    <li class="table-row table-hover" *ngFor="let rec of allRecs"routerLink="/reclamation-update/{{rec.id}}">
      <div class="col col-1" >{{rec.id}}</div>
      <div class="col col-2" >{{rec.date}}</div>
      <div class="col col-3" >{{categ(rec.Id_sousCateg)}}</div>
      <div class="col col-4" >{{etatN(rec.id_etat)}}</div>
    </li>
  </ul>
</div>