<div class="home-container">
  <div class="home-container1">
    <h1 class="home-text headerTitle">Bienvenue à DigiBatiment</h1>
    <span class="home-text01 headerText">
      Plateforme réservée aux emplyées de la Société Tunisienne de Banque
    </span>
    <span class="home-text02 headerText2">
      <span>
        Posez des réclamations des pannes matérielles
        <span [innerHTML]="raw7njh"></span>
      </span>
      <br />
      <span>Suivez leurs états</span>
      <br />
      <span>Plus rapidement</span>
      <br />
      <span>Plus facilement</span>
    </span>
  </div>
</div>




