<div class="home-containerr">
  <div class="home-containerr1">
    <h1 class="home-text headerTitle">Bienvenue à DigiBatiment</h1>
    <span class="home-text01 headerText">
      Plateforme réservée aux employés de la Société Tunisienne de Banque
    </span>
    <div class="marquee">
    <span class="home-text02 ">
      <span>
        Posez des réclamations 
        <span [innerHTML]="raw7njh"></span>
      </span>
    </span>
      <br />
      <span class="home-text03 headerText2">
      <span>Suivez leurs avancements</span>
    </span>
      <br />
      <span> <!--Plus facilement--> </span>
   
  </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
 
  <div class="containerr">
  <div class="features-background">
    <div class="containerr">
        <section id="features">
         
      <div class="three-col-grid">
      <div id="1st-feature" class="feat-style">
        <i class="material-icons" style="font-size: 50px;">add_task</i>
        <h3>Gestion De Pannes</h3>
        <p style="margin-bottom: 0;">Poser vos réclamations instantanément</p>
      </div>
        <div id="2nd-feature" class="feat-style">
        <i class="material-icons" style="font-size: 50px;">trending_up</i>
        <h3>Suivi de l'Etat</h3>
        <p style="margin-bottom: 0;">Suivez en temps réel l'avancement de vos réclamations</p>
      </div>
        <div id="3rd-feature" class="feat-style">
        <i class="material-icons" style="font-size: 50px;">groups</i>
        <h3>Administration Aisée</h3>
        <p style="margin-bottom: 0;">Gérer votre équipe de gestion de pannes sans effort</p>
      </div>
      </div>
    </section>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
</div>
</div>




