:host { 
  display: contents; 
}





.marquee {
  
  overflow: hidden;
  position: relative;
}
/* nested div inside the container */
.marquee div {
  display: block;
  width: 200%;
  position: absolute; 
  overflow: hidden;
  animation: marquee 2s both;
}
/* span with text */
.marquee span {
  float: inline-start;
  
}
/* keyframe */
@keyframes marquee {
  100% { top: -100%; }
  50% { top : 100%; }
}






.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.home-container1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: 
  linear-gradient(to right bottom, 
   rgba(22, 22, 22, 0.5),
   rgba(0, 0, 0, 0.541)),
   url("src/assets/Images/pexels-burst-374023.jpg");
  background-repeat: no-repeat;
  background-position: center;







  
}
.home-text {
  color: rgba(180, 180, 180, 0.733);
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: 'Lato', sans-serif;	
  	line-height: 1.7;
    margin-bottom: 15px;
  	
}
.home-text01 {
  display: block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #ffffff;
  margin-bottom: 100px;
 
 

  
}
.home-text02 {
  color: #fff7f7;
  text-align: center;
  font-weight: 20;
  letter-spacing: 5px;
  display: block;
  font-size: 30px;


  position: relative;
  animation: marquee 6s linear infinite;
  overflow: hidden;
 
	
	
  
}


.home-text03 {
  color: #fff7f7;
  text-align: center;
  font-weight: 20;
  letter-spacing: 5px;
  display: block;
  font-size: 20px;
  


  position: relative;
  animation: marquee 6s linear infinite;
  overflow: hidden;
 
	
	
  
}





