<div class="home-container">
  <div class="home-container1">
    <h1 class="home-text headerTitle">Bienvenue à DigiBatiment</h1>
    <span class="home-text01 headerText">
      Plateforme réservée aux emplyées de la Société Tunisienne de Banque
    </span>
    <div class="marquee">
    <span class="home-text02 ">
      <span>
        Posez des réclamations 
        <span [innerHTML]="raw7njh"></span>
      </span>
    </span>
      <br />
      <span class="home-text03 headerText2">
      <span>Suivez leurs états</span>
    </span>
      <br />
      <span> <!--Plus facilement--> </span>
   
  </div>
  </div>
</div>




