:host { 
  display: contents; 
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.home-container1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: 
  linear-gradient(to right bottom, 
   rgba(22, 22, 22, 0.5),
   rgba(0, 0, 0, 0.541)),
   url("src/assets/Images/pexels-burst-374023.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.home-text {
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: 'Lato', sans-serif;	
  	line-height: 1.7;
    margin-bottom: 15px;
  	
}
.home-text01 {
  display: block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #ffffff;
  margin-bottom: 100px;
 
 

  
}
.home-text02 {
  color: #fff7f7;
  text-align: center;
  font-weight: 50;
  letter-spacing: 1px;
  display: grid;
  font-size: 20px;
 

  
	
	
  
}





