
<form *ngIf="!processing" >
    <div class="user-details">
      <div class="input-box">
        <span class="details">Matricule</span>
        <input type="text" name="matricule" value="{{matr}}" readonly="readonly">
      </div>
      <div class="input-box">
        <span class="details">Gouvernorat</span>
        <input type="text" name="gouvernorat" value="{{gouv}}" readonly="readonly">
      </div>
      <div class="input-box">
        <span class="details">Ville</span>
        <input type="text" name="ville" value="{{ville}}" readonly="readonly">
      </div>
      <div class="input-box">
        <span class="details">Agence</span>
        <input type="text" name="agence" value="{{agence}}" readonly="readonly">
      </div>
      
      <div class="input-box">
          <span class="details">Catégorie</span>
          <input type="text" name="categ" value="{{categ.nom}}" readonly="readonly">
        </div>
        <div class="input-box">
          <span class="details">Sous-Catégorie</span>
          <input type="text" name="souscateg" value="{{sCateg.nom}}" readonly="readonly">
        </div>
      
      <div class="input-box" *ngIf="rec.desc!=undefined">
        <span class="details">Description</span>
        <textarea rows="4" cols="40" maxlength="150" value="{{rec.desc}}" readonly="readonly"></textarea>
      </div>
      
      <div class="input-box">
        <span class="details">Urgence</span>
        <input type="text" name="urg" value="{{urgenceN(rec.urg)}}" readonly="readonly">
    </div>

    </div>
    
  </form>
