<navbar></navbar>

<body>
<div class="parent">
<div class="div1">
  <header></header>
</div>
<br>
<div class="div2">
<app-reduced></app-reduced>
</div>
</div>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>A Propos </h6>
          <p class="text-justify">DigiBatiment <i> est une plateforme </i> réservée aux agents de la Société Tunisienne de Banque visant à modérniser le secteur bancaire. Ceci est votre endroit préferé pour posez vos réclamations relatives aux pannes matérielles  dans votre agence de travail. N'hésitez pas à nous contacter pour prendre plus d'informations sur nos prochain projets.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Services</h6>
          <ul class="footer-links">
            <li><a href="http://localhost:4200/acceuil">Accueil</a></li>
            <li><a href="http://localhost:4200/profil">Consulter Profil</a></li>
            <li><a href="http://localhost:4200/nouvelle-reclamation">Nouvelle Réclamation</a></li>
            <li><a href="http://localhost:4200/fournisseurs"> Liste Des Fournisseurs </a></li>
            
            
            
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Liens</h6>
          <ul class="footer-links">
            <li><a href="https://www.stb.com.tn/fr/site/la-stb/a-propos/">A propos</a></li>
            <li><a href="https://www.stb.com.tn/fr/site/stb/contact/">Contactez Nous</a></li>
            
            <li><a href="https://www.stb.com.tn/fr/site/reseau-stb/agence/">Le Réseau STB</a></li>
            
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">STB DigiBatiment</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            
            <li><a class="material-icons" href="https://www.facebook.com/stbbank"><i >facebook</i></a></li>
            <li><a class="material-icons" href="https://www.linkedin.com/company/stb-bank?originalSubdomain=fr"><i> linkedin</i></a></li>
              
          </ul>
        </div>
      </div>
    </div>
</footer>

</body>

