<navbar></navbar>
<body>
<div class="parent">
<div class="div1">
  <header></header>
</div>
<div class="div2">
<app-reduced></app-reduced>
</div>
</div>
<footer id="footer">
  <div class="container">
    <div class="footer-content">
    <p>Designed By <a href="https://www.stb.com.tn" target="_blank">STB</a>  | Modernisation du secteur bancaire .
      <br>
      <hr class="seperator">
      <p><i>Digibatiment: plateforme interactive de gestion de pannes </i>
    <br>Societé Tunisienne de Banque </p>
  </div>
  </div>
</footer>
</body>

