
<navbar></navbar>



<div class="home-container" *ngIf="!processing">
  <div class="home-container1">
    <div class="home-container2">


      <mat-card class="example-card">
        <mat-card-title>Détails de la réclamation : </mat-card-title>
        <mat-card-content>
          
          <br/>
          <p><b>ID Réclamation :    </b>{{rec._id}} </p>
          <p><b>Date de création :    </b>{{rec.date}} </p>
          <full [id]="rec._id"></full>
          
          <p ><b>Assistant en charge :    </b>
            <span *ngIf="rec.matr_affect!=undefined">{{userName(rec.id_affect)}}</span>
            <span *ngIf="rec.matr_affect==undefined">la réclamation n'est pas encore affectée</span> </p>
          
          <p> <b>Nom réclamant :    </b>{{userName(rec.id_reclamant)}} </p>
          <p> <b>Numéro de téléphone :    </b>{{userPhone(rec.id_reclamant)}} </p>
          <p> <b>Adresse email :    </b>{{userEmail(rec.id_reclamant)}} </p>
          
          

        </mat-card-content>
      </mat-card>


    </div>
    <div class="home-container3">
      <mat-stepper orientation="vertical" [linear]="isLinear" [selectedIndex]="rec.id_etat - 1" *ngIf="rec.id_etat <8" #stepper1>
        <mat-step   >
          <ng-template matStepLabel>Affectation</ng-template>
          
        </mat-step>
        <mat-step  >
          
            <ng-template matStepLabel>Devis</ng-template>
            
        </mat-step>
        <mat-step  >
          
            <ng-template matStepLabel>Contrats</ng-template>
            
              
            
        </mat-step>
        <mat-step  >
          
            <ng-template matStepLabel>Ordres d'exécution</ng-template>
            
            
        </mat-step>
        <mat-step  >
          
            <ng-template matStepLabel>Factures</ng-template>
            
          
        </mat-step>
        <mat-step  >
        
            <ng-template matStepLabel>Vérification</ng-template>
            
        </mat-step>
        <mat-step >
          <ng-template matStepLabel>Fin</ng-template>
          
        </mat-step>
      </mat-stepper>

      <button mat-raised-button *ngIf="rec.id_etat < 3" color="warn" (click)="invalidate()">Réclamation invalide</button>
    </div>
  </div>
  <div class="home-container4">
    <mat-stepper orientation="horizontal" [linear]="isLinear" [selectedIndex]="rec.id_etat - 1" *ngIf="rec.id_etat <8" #stepper2>
      <mat-step   >
        <ng-template matStepLabel>Affectation</ng-template>
        <mat-card class="example-card">
          <mat-card-title>Choisir un assistant à qui affecter la réclamation</mat-card-title>
          <mat-card-content>
            <p>Veuillez selectionner un assistant avant de continuer</p>
          
        <form [formGroup]="firstFormGroup">
          
          <mat-form-field appearance="fill">
            <mat-label>Nom assistant</mat-label>
            
  
            <mat-select formControlName="firstCtrl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let ass of assistants" [value]="ass.id">
                {{ass.name}}
              </mat-option>
            </mat-select>
            
  
          </mat-form-field>
          <div class="space">
          </div>
          <button mat-raised-button matStepperNext color="primary" *ngIf="firstCtrl.valid" align="end" (click)="AffectAndState(firstCtrl.value)">Etape suivante</button>
        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        
      </mat-card-actions>
      
    </mat-card>
      </mat-step>
      <mat-step  >
        
          <ng-template matStepLabel>Devis</ng-template>
          <mat-card class="example-card">
            <mat-card-title>Ajouter les devis</mat-card-title>
            <mat-card-content>
              <p>Veuillez ajouter les fichiers necéssaires avant de continuer</p>
            </mat-card-content>
            
            <mat-card-actions align="end">
              <button mat-raised-button (click)="openDialog(1)">Ajouter fichier</button>
              <button mat-raised-button routerLink="/fournisseurs/{{rec.id}}">Consulter fournisseurs</button>
              <button mat-raised-button matStepperNext color="primary" (click)="nextstate()">Etape suivante</button>
            </mat-card-actions>
            
          </mat-card>
      </mat-step>
      <mat-step  >
        
          <ng-template matStepLabel>Contrats</ng-template>
          <mat-card class="example-card">
            <mat-card-title>Ajouter les contrats</mat-card-title>
            <mat-card-content>
              <p>Veuillez ajouter les fichiers necéssaires avant de continuer</p>
            </mat-card-content>
            
            <mat-card-actions align="end">
              <button mat-raised-button (click)="openDialog(2)">Ajouter fichier</button>
              <button mat-raised-button routerLink="/fournisseurs/{{rec.id}}">Consulter fournisseurs</button>
              <button mat-raised-button matStepperNext color="primary" (click)="nextstate()">Etape suivante</button>
            </mat-card-actions>
            
          </mat-card>
      </mat-step>
      <mat-step  >
        
          <ng-template matStepLabel>Ordres d'exécution</ng-template>
          <mat-card class="example-card">
            <mat-card-title>Ajouter les ordres d'exécution</mat-card-title>
            <mat-card-content>
              <p>Veuillez ajouter les fichiers necéssaires avant de continuer</p>
            </mat-card-content>
            
            <mat-card-actions align="end">
              <button mat-raised-button (click)="openDialog(3)">Ajouter fichier</button>
              <button mat-raised-button routerLink="/fournisseurs/{{rec.id}}">Consulter fournisseurs</button>
              <button mat-raised-button matStepperNext color="primary" (click)="nextstate()">Etape suivante</button>
            </mat-card-actions>
            
          </mat-card>
          
      </mat-step>
      <mat-step >
        
          <ng-template matStepLabel>Factures</ng-template>
          <mat-card class="example-card">
            <mat-card-title>Ajouter les factures</mat-card-title>
            <mat-card-content>
              <p>Veuillez ajouter les fichiers necéssaires avant de continuer</p>
            </mat-card-content>
            
            <mat-card-actions align="end">
              <button mat-raised-button (click)="openDialog(4)">Ajouter fichier</button>
              <button mat-raised-button routerLink="/fournisseurs/{{rec.id}}">Consulter fournisseurs</button>
              <button mat-raised-button matStepperNext color="primary" (click)="nextstate()">Etape suivante</button>
            </mat-card-actions>
            
          </mat-card>
        
      </mat-step>
      <mat-step  >
      
          <ng-template matStepLabel>Vérification</ng-template>
          <mat-card class="example-card">
            <mat-card-title>La réclamation a t'elle été bien traitée ?</mat-card-title>
            <mat-card-content>
              <p>Si oui, tapez sur le bouton "Etape suivante"</p>
              <p>Sinon, tapez sur le bouton "Retour à l'étape des devis"</p>
            </mat-card-content>
            
            <mat-card-actions align="end">
              
              <button mat-raised-button color="warn" (click)="back()">Retour à l'étape des devis</button>
              <button mat-raised-button matStepperNext color="primary" (click)="nextstate()">Etape suivante</button>
            </mat-card-actions>
            
          </mat-card>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Fin</ng-template>
        <mat-card class="example-card">
          <mat-card-title>La réclamation est traitée</mat-card-title>
          <mat-card-content>
            <br/>
          </mat-card-content>
          </mat-card>
        <div>
        </div>
      </mat-step>
    </mat-stepper>
    <mat-card class="example-card" *ngIf="rec.id_etat == 8">
      <mat-card-title>La réclamation est invalide</mat-card-title>
      <mat-card-content>
        <br/>
      </mat-card-content>
      </mat-card>
  </div>
  <div class="home-container5"> 
    <div class="home-container6">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    </div>
    <div class="home-container7">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.Date | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row"> {{row.Nom}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Ancien_etat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ancien Etat </th>
          <td mat-cell *matCellDef="let row"> {{row.Ancien_etat}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="Nouveau_etat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nouveau Etat </th>
          <td mat-cell *matCellDef="let row"> {{row.Nouveau_etat}} </td>
        </ng-container>

        <ng-container matColumnDef="Fichier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fichier </th>
          <td mat-cell *matCellDef="let row"> {{row.Fichier}} </td>
        </ng-container>

        <ng-container matColumnDef="Type_fichier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type Fichier </th>
          <td mat-cell *matCellDef="let row"> {{row.Type_fichier}} </td>
        </ng-container>

        <ng-container matColumnDef="Fournisseur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseur </th>
          <td mat-cell *matCellDef="let row"> {{row.Fournisseur}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    </div>

  </div>
</div>

 


  