
  .mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .mat-step-header {
    pointer-events: none !important;
  }
  
   
  .space {
    width:70%;
    height: auto;
    display: inline-block;
  }