<navbar></navbar>

<!--<div class="f"> 
  
  
<nav aria-label="breadcrumb" class="main-breadcrumb">
   <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="acceuil">Accueil</a></li>
 
     <li class="breadcrumb-item active" aria-current="page"> Détails de la réclamation</li>
   </ol>
 </nav>
  
  
 
 </div>-->

<div class="home-containerf" *ngIf="!processing">
  
  <div class="home-containerf1">
    
    <div class="home-containerf2">


      <mat-card class="example-card">
        <mat-card-title>Détails de la réclamation : </mat-card-title>
        <mat-card-content>
          
          <br/>
          <div class="id-date">
            <div class="id">
          <p ><b>ID Réclamation :    </b>{{rec._id}} </p>
        </div>
        <div class="date">
          <p ><b>Date de création :    </b>{{rec.date | date: 'dd/MM/yyyy'}} </p>
        </div>
      </div>
          <full [id]="rec._id"></full>
        
          
          
          
          

        </mat-card-content>
      </mat-card>


    </div>
    <div class="home-containerf3">
      <div *ngIf="!processing">
      <mat-stepper orientation="vertical" [linear]="false" [selectedIndex]="currentState" *ngIf="rec.id_etat <'8'" #stepper1>
        <mat-step   >
          <ng-template matStepLabel>En attente</ng-template>
          
        </mat-step>
        <mat-step  >
          
            <ng-template matStepLabel>En cours de traitement</ng-template>
            
        </mat-step>
        <mat-step  >
          
            <ng-template matStepLabel>traitée</ng-template>
            
              
            
        </mat-step>
        
      </mat-stepper>
      
    </div>
    <div *ngIf="rec.id_etat=='8' && !processing" class="invalide">
        
      <p>Votre réclamation est invalide</p>
    </div>
    <br>
    <div class="contact">
      <div class="contact-title">
    <p><b>Assistant en charge </b></p>
    </div>
      <br>
      <span *ngIf="isAffected">{{assistant.nom}} {{assistant.prenom}}</span>
      <span *ngIf="!isAffected">la réclamation n'est pas encore affectée</span> 
      <br>
      <div class="contact-title" *ngIf="isAffected">
        <p><b>Adresse e-mail de l'assistant</b></p>
        </div>
        <br>
        <span *ngIf="isAffected"> <a href="mailto:{{assistant.email}}">{{assistant.email}}</a></span>
    </div>
    <br>
    <br>
      <button mat-raised-button *ngIf="rec.id_etat ==1" color="primary" (click)="onModif()" >Modifier réclamation</button>
      <br>
      <button mat-raised-button *ngIf="rec.id_etat ==1" color="warn" (click)="onDelete()" >Supprimer réclamation</button>
    </div>
  </div>
  </div>