<navbar></navbar>


<div class="f"> 
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="main-breadcrumb">
   <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="acceuil">Accueil</a></li>
 
     <li class="breadcrumb-item active" aria-current="page"> Détails de la réclamation</li>
   </ol>
 </nav>
 <!-- /Breadcrumb -->
 </div>
<div class="home-container" *ngIf="!processing">
  
  <div class="home-container1">
    
    <div class="home-container2">


      <mat-card class="example-card">
        <mat-card-title>Détails de la réclamation : </mat-card-title>
        <mat-card-content>
          
          <br/>
          <p><b>ID Réclamation :    </b>{{rec._id}} </p>
          <p><b>Date de création :    </b>{{rec.date}} </p>
          <full [id]="rec._id"></full>
          
          <p ><b>Assistant en charge :    </b>
            <span *ngIf="isAffected">{{assistant.nom}} {{assistant.prenom}}</span>
            <span *ngIf="!isAffected">la réclamation n'est pas encore affectée</span> </p>
          
          
          
          

        </mat-card-content>
      </mat-card>


    </div>
    <div class="home-container3">
      <div *ngIf="!processing">
      <mat-stepper orientation="vertical" [linear]="false" [selectedIndex]="currentState" *ngIf="rec.id_etat <8" #stepper1>
        <mat-step   >
          <ng-template matStepLabel>En attente</ng-template>
          
        </mat-step>
        <mat-step  >
          
            <ng-template matStepLabel>En cours de traitement</ng-template>
            
        </mat-step>
        <mat-step  >
          
            <ng-template matStepLabel>traitée</ng-template>
            
              
            
        </mat-step>
        
      </mat-stepper>
    </div>
    <br>
    <br>
      <button mat-raised-button *ngIf="rec.id_etat ==1" color="primary" (click)="onModif()" >Modifier</button>
      <br>
      <button mat-raised-button *ngIf="rec.id_etat ==1" color="warn" (click)="onDelete()" >Supprimer</button>
    </div>
  </div>
  </div>